* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    background-color: #d0d0d0;
}

#main {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    width: 1170px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#items {
    width: 702px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#pres {
    width: 468px;
    background-color: #35bc7a;
}

.case {
    width: 234px;
    height: 234px;
}

.case:hover {
    cursor: pointer;
    box-shadow: 0px 0px 50px 3px rgba(0,0,0,0.7);
    transform: scale(1.05);
    z-index: 99;
}

#prof {
    background-color: #ff9e00;
}

#exp {
    background-color: #1e8bc4;
}

#educ {
    background-color: #f15a49;
}

#blog {
    background-color: #35bc7a;
}

#social {
    background-color: #f86925;
}

#contact {
    background-color: #1e8bc4;
}

#folio {
    background-color: #f86925;
}

#img {
    display: inline-block;
    width: 468px;
    height: 702px;
}

#img #buttons {
    position: relative;
    bottom: 40%;
    width: 100%;
    z-index: 99;
}

#buttons button {
    margin: 0 15px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 4px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(128, 128, 128, 0.42);
}

#buttons button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 50px 3px rgba(0,0,0,0.7);
    transform: scale(1.05);
}

#right {
    float: right;
}

.icon {
    position: relative;
    top: 60px;
    text-align: center;
    display: block;
    font-size: 70px;
}

.case_text {
    position: relative;
    display: block;
    text-align: center;
    top: 70px;
    font-weight: bold;
}

#pres h1 {
    display: block;
    text-align: center;
    margin: 30px 0;
}

#pres span {
    display: block;
    text-align: center;
    font-size: 18px;
}

#pres div button {
    font-size: 13px;
    margin: 30px 60px;
    width: 100px;
    height: 35px;
    color: white;
    font-weight: bold;
    background-color: #35bc7a;
    border-radius: 1px;
    border: white 2px solid;
}

#pres div button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 50px 3px rgba(255, 255, 255, 0.38);
    transform: scale(1.05);
    z-index: 99;
}

@media screen and (max-width: 1170px) {
    #main {
        margin: 0;
        width: 468px;
    }

    .case {
        display: block;
    }

    #pres {
        padding: 20px;
        height: 260px;
    }

    #folio {
        width: 468px;
    }

    #img {
        display: block;
        width: 468px;
        clear: both;
        left: 0;
        bottom: 0;
    }

    #img img {
        width: 100%;
    }

    #pres h1 {
        display: block;
        text-align: center;
        margin: 0;
    }

    #pres div button {
        margin: 20px 2vw;
        width: 100px;
        height: 35px;
    }

    #pres_right {
        float: right;
    }

    #buttons {
        width: 100vw;
    }
}

@media screen and (max-width: 467px) {

    .case, #pres, #folio {
        width: 100vw;
    }

    #img {
        width: 100vw;
    }
}